body {
  font-family: "Lato", sans-serif;
  color: #fff;
  background-color: #0d1620;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: antiquewhite;
  background-color: #0d1620;
}

h1 {
  text-align: center;
  color: #fff;
  font-weight: bold;
  text-shadow: #0d1620;
  letter-spacing: 2px;
  transition: color 0.3s ease;
}
h1:hover {
  color: #f5982f;
}

.grid-container {
  background: #3b8177;
  border-radius: 10px;
  display: grid;
  padding: 10px;
  grid-template-areas:
    "headerPosition headerNickname headerCoins"
    "position nickname coins";
  gap: 5px;
}

.header-position {
  grid-area: headerPosition;
}

.header-nickname {
  grid-area: headerNickname;
}

.header-coins {
  grid-area: headerCoins;
}

.position {
  grid-area: position;
}

.nickname {
  grid-area: nickname;
}

.coins {
  grid-area: coins;
}

.grid-container div {
  background: #0d1620;
  border: 2px solid #f5982f;
  border-radius: 6px;
  padding: 10px;
  text-align: center;
}

.coins:hover,
.nickname:hover,
.position:hover {
  background-color: #3b8177;
}
