body {
	font-family: Arial, Helvetica, sans-serif;
	color: antiquewhite;
	background-color: #0d1620;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	color: antiquewhite;
	background-color: #0d1620;
}

.grid-container {
	background: #4eb1a4;
	border: 3px solid black;
	border-radius: 10px;
	display: grid;
	padding: 3px;
	grid-template-areas:
		"headerPosition headerNickname headerCoins"
		"position nickname coins";
	gap: 5px;
}
.grid-container div {
	background: #0d1620;
	border: 2px solid #f5982f;
	border-radius: 6px;
	padding: 5px;
}
